# OS

.DS_Store
.tmp

# Logs

logs
*.log
npm-debug.log*
yarn-error.log

# Project

node_modules
build
coverage
flow-coverage
.nyc_output
package-lock.json
backend/packages/graphql/build
backend/maildev
jest_*


# serverless framework

secrets.js
.serverless
.webpack*
_warmup
backend/papertrailLogger/*